@{
    ViewBag.Title = "About";
}

<!-- row begin -->
<div class="row mb-5">
    <!-- col-md-12 begin -->
    <div class="col-md-12 mt-4">
        <h2 class="text-center">Hakkımızda</h2>
        <hr class="text-center">
        <p>&emsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum molestias aut architecto ipsam repellat tenetur tempore qui alias ex beatae esse, ipsa odit incidunt nam et itaque possimus, neque quidem?</p>
        <p>&emsp;Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae voluptatum quibusdam necessitatibus doloremque, nostrum amet deserunt, similique explicabo reprehenderit quisquam voluptas temporibus et ad praesentium quae sunt. Perspiciatis officia unde laborum aut repellendus, in tenetur. Ad aliquid sint quo odit voluptatibus optio non, eligendi exercitationem totam consectetur, laborum impedit repellat cupiditate maiores deleniti aliquam adipisci. Amet odio cupiditate sint laudantium debitis nihil. Laudantium eveniet debitis molestias dolor ullam accusantium qui non autem. Beatae repudiandae provident cupiditate quam nam eaque expedita error quaerat rerum quibusdam praesentium ad aliquam delectus, minus ipsam?</p>
        <p>&emsp;Lorem ipsum dolor, sit amet consectetur adipisicing elit. Eligendi consequatur sint autem, amet laboriosam suscipit facere eveniet a magni nam sequi tempore mollitia molestias soluta provident. Consequatur, maiores. Facere, sint!</p>
    </div>
    <!-- col-md-12 end -->
    <!-- col-md-8 begin -->
    <div class="col-md-8 offset-md-2 text-center">
        <img src="http://placehold.it/600x300" class="img-fluid shadow" alt="Hakkımızda">
    </div>
    <!-- col-md-8 end -->
</div>
<!-- row end --> 
