
@{
    ViewBag.Title = "BlogSingle";
}

<div class="row">
    <!-- col-md-9 begin -->
    <div class="col-md-9">
        <!-- card begin -->
        <div class="card my-4 shadow">
            <img class="card-img-top img-fluid" src="http://placehold.it/600x300" alt="Ürün Resmi">
            <div class="card-body">
                <h4 class="card-title text-uppercase">
                    <a href="blog-single.html">Lorem, ipsum.</a>
                </h4>

                <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Alias eaque perferendis maiores voluptatem quae dolores minus quia, amet placeat odit, harum facere modi eius assumenda beatae quos quis esse deleniti.</p>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi nostrum ratione fuga deserunt minus suscipit porro, architecto iste odit inventore consequuntur numquam accusamus! Iusto a quam laborum eius dolore qui ipsum, possimus fugit? Nam, iusto. Quos itaque pariatur totam nisi iusto est similique ullam enim porro odio? Perferendis officia voluptate sunt quibusdam deleniti labore mollitia facilis minus. Accusamus atque quos nisi laboriosam nostrum earum! Totam enim esse ratione asperiores ea nam recusandae consequuntur similique autem blanditiis quisquam eveniet error tenetur optio, accusamus in quidem voluptatibus. Cumque nostrum beatae architecto voluptatem aut neque recusandae sint similique eaque. Quia ad impedit nam.</p>
            </div>
        </div>
        <!-- card end -->
    </div>
    <!-- col-md-9 end -->
    <!-- col-md-3 begin -->
    <div class="col-md-3">
        <ul class="list-group">
            <li class="list-group-item text-center h4 bg-light">Blog<hr></li>
            <li class="list-group-item"><a href="blog-single.html">Lorem ipsum dolor sit.</a></li>
            <li class="list-group-item"><a href="blog-single.html">Lorem, ipsum.</a></li>
            <li class="list-group-item"><a href="blog-single.html">Lorem ipsum dolor sit, amet consectetur adipisicing elit.</a></li>
            <li class="list-group-item"><a href="blog-single.html">Lorem ipsum dolor sit amet.</a></li>
            <li class="list-group-item"><a href="blog-single.html">Lorem, ipsum dolor.</a></li>
            <li class="list-group-item"><a href="blog-single.html">Lorem ipsum dolor sit amet consectetur.</a></li>
            <li class="list-group-item"><a href="blog-single.html">Lorem ipsum dolor sit.</a></li>
        </ul>
    </div>
    <!-- col-md-3 end -->
</div>

