
@{
    ViewBag.Title = "Comments";
}


    <!-- row begin -->
    <div class="row">
        <!-- col-md-12 begin -->
        <div class="col-md-12 mt-4">
            <h2 class="text-center">Yorumlar</h2>
            <hr class="text-center">
        </div>
        <!-- col-md-12 end -->
        <!-- comments begin -->
        <div class="col-md-10 offset-md-1">
            <div class="form-group">
                <!-- 1 -->
                <div class="media my-4">
                    <a href="" class="mr-3">
                        <img src="http://placehold.it/75x75" class="rounded-circle shadow" alt="Kullanıcı Resmi">
                    </a>
                    <div class="media-body shadow2">
                        <small class="text-muted pull-right">11.11.2018</small>
                        <h5 class="font-weight-bold text-left">xxx</h5>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, maiores accusantium. Minus
                            quod commodi, aliquam, corrupti nemo voluptatibus sunt placeat dignissimos assumenda vero
                            doloremque maiores amet accusantium natus perspiciatis impedit?
                        </p>
                        <div class="form-group">
                            <span class="text-warning">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star-o"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- 1 -->
                <!-- 2 -->
                <div class="media my-4">
                    <a href="" class="mr-3">
                        <img src="http://placehold.it/75x75" class="rounded-circle shadow" alt="Kullanıcı Resmi">
                    </a>
                    <div class="media-body shadow2">
                        <small class="text-muted pull-right">12.11.2018</small>
                        <h5 class="font-weight-bold text-left">yyy</h5>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, maiores accusantium. Minus
                            quod commodi, aliquam, corrupti nemo voluptatibus sunt placeat dignissimos assumenda vero
                            doloremque maiores amet accusantium natus perspiciatis impedit?
                        </p>
                        <div class="form-group">
                            <span class="text-warning">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- 2 -->
                <!-- 3 -->
                <div class="media my-4">
                    <a href="" class="mr-3">
                        <img src="http://placehold.it/75x75" class="rounded-circle shadow" alt="Kullanıcı Resmi">
                    </a>
                    <div class="media-body shadow2">
                        <small class="text-muted pull-right">13.11.2018</small>
                        <h5 class="font-weight-bold text-left">zzz</h5>
                        <p>
                            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Distinctio, maiores accusantium. Minus
                            quod commodi, aliquam, corrupti nemo voluptatibus sunt placeat dignissimos assumenda vero
                            doloremque maiores amet accusantium natus perspiciatis impedit?
                        </p>
                        <div class="form-group">
                            <span class="text-warning">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star-o"></span>
                            </span>
                        </div>
                    </div>
                </div>
                <!-- 3 -->

            </div>
            <div class="row my-2">
                <div class="col-md-12">
                    <hr>
                    <div class="form-group">
                        <textarea cols="30" rows="5" name="messagebody" id="messagebody" placeholder="Yorum gönder." class="form-control"></textarea>
                    </div>

                    <div class="form-group text-right">
                        <button type="button" class="btn btn-dark">
                            </span>Gönder
                        </button>
                    </div>
                </div>
            </div>
        </div>
        <!-- comments end -->
    </div>
    <!-- row end -->

